# --- Node.js ---
node_modules
npm-debug.log

# --- TypeScript ---
*.tsbuildinfo
dist
build
out

# --- Docker ---
Dockerfile
.dockerignore
docker-compose.yml

# --- Environment ---
.env
*.env.local

# --- IDE ---
.idea
.vscode
*.sublime-workspace
*.sublime-project

# --- OS ---
.DS_Store
Thumbs.db